extends layout

block layout-content
  div(class='main-display h-100 container p-4')
    h2(class='p-2')
      | Interface for 
      a(href="123") my modular personal website
    div(class='form-div')
      form(class="was-validated" action="/sendData" method="POST")
        div(class="form-group")
          label(for="validationTextarea1") Project Name
          //- input(type="text" class="form-control text-wrap" style="height:5rem" id="projectTitle" placeholder="Enter your project name here" )
          textarea(name="name" class="form-control is-invalid" id="validationTextarea1" placeholder="Required project name textarea" maxlength="50" required )
          div(class="invalid-feedback") Please enter project name in the textarea. Max length: 50 characters
        div(class="form-group")
          label(for="validationTextarea2") Project Description
          //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
          textarea(name="desc" class="form-control is-invalid" id="validationTextarea2" placeholder="Required project description textarea" maxlength="140" required)
          div(class="invalid-feedback") Please enter Project description in the textarea. Max length: 140 characters
        div(class="form-group")
          label(for="validationTextarea3") Project Details
          //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
          textarea(name="detail" class="form-control is-invalid" id="validationTextarea3" placeholder="Required project detail textarea" required maxlength="140")
          div(class="invalid-feedback") Please enter Project details in the textarea.
        
        button(class="btn btn-outline-success mb-3" type="button" data-toggle="collapse" data-target="#moreDetail" aria-expanded="false" aria-controls="moreDetail") Add more details

        div(class="collapse" id="moreDetail")
          div(class="form-group")
            label(for="validationTextarea4") Project Details
            //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
            textarea(name="detail" class="form-control is-valid" id="validationTextarea4" placeholder="Required project detail textarea" maxlength="140")
            div(class="valid-feedback") (Optional)Please enter Project details in the textarea.
          div(class="form-group")
            label(for="validationTextarea5") Project Details
            //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
            textarea(name="detail" class="form-control is-valid" id="validationTextarea5" placeholder="Required project detail textarea" maxlength="140")
            div(class="valid-feedback") (Optional)Please enter Project details in the textarea.
          div(class="form-group")
            label(for="validationTextarea6") Project Details
            //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
            textarea(name="detail" class="form-control is-invalid" id="validationTextarea6" placeholder="Required project detail textarea" maxlength="140")
            div(class="valid-feedback") (Optional)Please enter Project details in the textarea.
          div(class="form-group")
            label(for="validationTextarea7") Project Details
            //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
            textarea(name="detail" class="form-control is-valid" id="validationTextarea7" placeholder="Required project detail textarea" maxlength="140")
            div(class="valid-feedback") (Optional)Please enter Project details in the textarea.
        br
        button(type="submit" class="btn btn-outline-secondary") Add
    table(class="table mt-3")
      thead(class="thead-light")
        tr 
          th Current Project
          th Project Description
          th
        tbody
          each project in projects
            td=project.name
            td=project.desc
            td
              form(action="/deleteProject" method="POST")
                button(class="btn btn-outline-danger" name="id" value=project._id) Delete
                //- input(type="submit" name="id" value="Delete")
        

    